asgiref==3.11.1
astroid==4.0.4
colorama==0.4.6
dill==0.4.1
Django==6.0.6
django-extensions==4.1
graphviz==0.21
gunicorn==26.0.0
isort==8.0.1
mccabe==0.7.0
packaging==26.2
platformdirs==4.10.0
pylint==4.0.5
sqlparse==0.5.5
tomlkit==0.15.0
tzdata==2026.2
whitenoise==6.12.0
